@if (User.Identity?.IsAuthenticated == true)
{
    <ul class="navbar-nav">
        <li class="nav-item">
            @{ var firstName = User.FindFirst("FullName")?.Value?.Split(' ')[0] ?? User.Identity.Name; }
            <span class="nav-link text-light">Hello, @firstName!</span>
        </li>
        <li class="nav-item">
            <form method="post" asp-page="/Logout">
                <button type="submit" class="nav-link text-light btn btn-link">Logout</button>
            </form>
        </li>
    </ul>
}
else
{
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link text-light" asp-page="/Login">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" asp-page="/Register">Register</a>
        </li>
    </ul>
}
